@import "./variables.less";




.home {
    .container {
      padding-top: 150px;
      p {
        &:extend(.headline-large); 
        width:75%;
        line-height: 152.9%;
        }  
    }
    
    
}