@import "./variables.less";


.container {
    padding-top: 150px;

    .header {
        display: flex;
        align-items: center;
        justify-content: flex-start; 
        gap:24px;
    }

    .back-btn {
        &:extend(.text-large); 
        background-color: @btn-bg;
        color:@black;
        border:1px solid black;
        padding: 4px 16px;
        cursor:pointer;
        
    }
    .back-btn:hover {
        background-color: #fafafa;
        transition: ease-in-out 300ms;
    }

    h1 {
        &:extend(.headline-large);
    }

    .description {
        &:extend(.text-default);
        color:@dark;
    }

    .infos-generales {
        display: flex;
        align-items: stretch;
        justify-content: center;
        gap:5%;
        
        .category {
            width:100%;
            padding: 24px 0px;
            display: flex;
            justify-content: start;
            flex-direction: column;
            
            b {
                &:extend(.text-large);
                font-weight: bold;
                overflow-wrap: break-word;
            }
            p {
                &:extend(.text-default);
                color:@dark;
                
            }
        }
    }

    .links {
        display: flex;
        align-items: center;
        justify-content: start;
        &:extend(.text-default);


        a {
            color:@contrast;
            padding:8px 16px;
            text-decoration: none;
            width:fit-content;
        }
        a:hover {
            color: @contrast;
            filter: opacity(0.7);
        }
    }










    .blue-container{
        margin-top: 5em;
        padding:60px;
        background-color: @main-bg;
        display: flex;
        justify-content: start;
        align-items: center;
        position:relative;
        z-index: -1;

        div {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: start;
        }

        img {
            position: absolute;
            right:0;
            width: 40em;
            top:-10em;
            z-index: 0;
        }
    }

    .subtitle {
        &:extend(.title-large);
    }

    .desc {
        &:extend(.text-default);
        width: 50%;
    }


    #enjeux {
        scroll-margin-top: 150px;

        .analysis {
            margin-top: 20em;

            

            .swot {
                display: inline-flex;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 100%;
                margin-top: 250px;

                .vl {
                    border: 0.5px solid #B1BEEB;
                }

                .description {
                    &:extend(.text-default);
                }

                .swot-category {
                    align-self: flex-start;
                    width: 300px;

                    h3 {
                        &:extend(.title-small);
                        text-align: center;
                    }
                }
            }


        }

        .enjeux-img {
            margin-top: 150px;
            width: 100%;
            background-image: url("/images/lines-bg.svg");

            img {
                aspect-ratio: 1/1;
                min-width: 500px;
                width: 80%;
            }
        }
        

        
    }









    #debut {
        scroll-margin-top: 150px;
        margin-top: 250px;

       .info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        margin-top:200px;

        .subtitle { 
            width: 50%;
        }
       }

       .personas-content {
        position: relative;
        z-index: -2;
       }

       .bg-img {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: @dark;
        margin-top:100px;
        z-index: -2;
        position: relative;
        img {
            object-fit: cover;
            width: 100%;
            margin:16px 0px;
        }
       }
       
       .wireframes-container {
        display: flex;
        padding:32px 16px;
        gap:32px;
        flex-wrap: wrap;

            .wireframe-container {
                display: flex;
                flex-direction: column;
                //align-items: center;
                width: auto;
                width: 47%;
                flex-grow: 3;
                z-index: 0;

                p {
                    &:extend(.text-default);
                    color: #fff;
                }

                .wr-images {
                    display: inline-flex;
                    width:100%;

                    .img-test {
                        display: flex;
                        flex: auto;
                    }
                }
                
            }
       }

       
    }










    #designUI {
        scroll-margin-top: 150px;
        margin-top: 250px;

        .challenge {
            margin-top:250px;
            width:100%;

            img {
                width: 100%;
            }
        }

        .goal {
            .info {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                width: 100%;
                margin-top:200px;

                .subtitle {
                    width:50%;
                }
            }
        }

        .concretisation {
            img {
                object-fit: contain;
                width: 100%;
            }
        }
    }









    #problemes {
        scroll-margin-top: 150px;
        margin-top: 250px;

        .probleme {
            margin-top: 120px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap:48px;

            .subtitle {
                width: 100%;
            }
            .desc {
                width:100%;
            }

            .avant-apres {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                gap:96px;

                .avant, .apres {
                    display: flex;
                    width:auto;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    h3 {
                        text-align: center;
                        width: 100%;
                    }
                    
                }
            }
        }
    }






    
    #conclusion {
        scroll-margin-top: 150px;
        margin-top: 250px;


        div{
            width: auto;
        }
    }





    @media only screen and (max-width: 1024px) {
        .blue-container {
            div {
                width: auto;
            }
            img {
                display: none;
            }
        }
      }
    
}