@import "./variables.less";

.projets {
    display: flex;
    flex-direction: column;
    .container {
        overflow: hidden;
        padding-top: 150px;
        display: flex;
        padding:10em 0em;
        flex-wrap: wrap;
        gap:5em;
        
    }
}